body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}

.logo{
    color: #fff;
    font-size: 25px;
    line-height: 60px;
    padding-left: 250px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.main{
    width: 100%;
    height: 100%;
}

.menu{
    float: left;
    padding-left: 355px;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 20px;
    font-size: 15px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/pg.jpg)  center/cover no-repeat;
}

.title_container{
    float: left;
    margin: 300px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.title_container h1{
    font-size: 45px;
    font-weight: bold;
}

.title_container h4{
    margin-top: 40px;
    font-size: 20px;
    color: #79818d
}

.title_container input{
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    margin: 50px 14px 0px 14px;
}

.about_me_container h2{
    text-align: center;
    /*border-bottom: 3px solid #d17700;*/
    width: 96px;
    font-size: 20px;
    margin: 15px auto;
    padding-bottom: 5px;
}

.about_me_container{
    text-align: center;
}

.about_me_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
    
}

.about_me_container{
    text-align: none;
    width: 740px;
    margin: 0px auto;
}

.about_me_container img{
    display: block;
    margin: 0 auto;
    padding: 40px;
}


.about_me_container p{
    margin-top: 30px;
} 

.about_me_container .secondText{
    margin-top: 15px;
}


.download{
    width: 150px;
    height: 20px;
    text-align: center;
    border: 2px solid #6f707e;
    background: none;
    border-radius: 5px;
    color: #6f707e;
    font-size: 13px;
    margin: 20px 20px 100px 690px;
    -webkit-animation: backinleft 1s ease forwards;
    -o-animation: backinleft 1s ease forwards;
    animation: backinleft 1s ease forwards;
}

.skills{
    padding-top: 25px;
}

.skills h2{
    text-align: center;
   /* border-bottom: 3px solid #d17700;*/
    width: 100px;
    font-size: 25px;
    margin: 20px auto;
}

.skills hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.skills{
    width: 100%;
    height: 50%;
    background: url(../img/fon.png) no-repeat;
    margin-top: 50px;
}

.skills_item{
    float: left;
    width: 250px;
    text-align: center;
    margin-left:100px;
    padding-top: 100px;
}

.skills_item h3{
    color: #cf7600;
    font-size: 25px;
    padding: 20px 0px 10px 0px  
}

.clear{
    clear: left;
}

.cases{
    text-align: center;
    
}

.cases h2{
     text-align: center;
   /* border-bottom: 3px solid #d17700;*/
    width: 100px;
    font-size: 22px;
    margin: 10px auto;
}

.cases hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.cases p{
    font-size: 18px;
    padding: 20px;
}

.cases1{
   float: left;
    width: 230px;
    margin-left:200px;
}

.cases1 h3{
    font-size: 18px;
    padding: 5px 0px;
}

.cases1 input{
    padding: 10px 0px 0px 45px;
    font-size: 15px;
}

.cases2{
    float: left;
    width: 600px;
    margin-left: 200px;
}

.calculator h2{
    text-align: center;
   /* border-bottom: 4px solid #d17700;*/
    width: 100px;
    font-size: 22px;
    margin: 10px auto;
}

.calculator hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.mySelekt{
    display: block;
    width: 850px;
    height: 50px;
    background: #eeeeee;
    margin-left: 20%;
}

.calculator h3{
    margin-left: 305px;
    font-size: 25px;
    padding: 20px 0px 10px 0px;
}


.statistics_container{
    padding: 60px
}

.statistics_container h2{
    text-align: center;
    /*border-bottom: 4px solid #d17700;*/
    width: 96px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
}

.statistics_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto;
}

.statistics{
    float: left;
    width: 230px;
    text-align: center;
    margin-left:100px;
    padding-top: 90px;
}

.allstatistics{
    margin-top: 50px;
    width: 100%;
    height: 50%;
    background: url(../img/fon3.png) center/cover no-repeat;
}

.reviews h2{
   text-align: center;
    /*border-bottom: 4px solid #d17700;*/
    width: 96px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 10px;   
}

.reviews hr{
   height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto; 
}

.reviews{
    text-align: center;
    font-size: 20px;
}

.review{
    margin: 60px;
}

.review p{
    margin-top: 60px
}

.contact{
    width: 100%;
    height: 100%;
    background: url(../img/fon4.png) no-repeat;
    text-align: center;
}
.contact p{
   color: #ffffff;
    font-size: 15px;
}

.contact h2{
   /* border-bottom: 4px solid #d17700;*/
    width: 96px;
    font-size: 30px;
    margin: 15px auto;
    padding-bottom: 10px;
    padding-top: 60px;  
    color: #ffffff  
}

.contact hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.contact_item{
   float: left;
    width: 250px;
    margin-left: 200px;
    padding-top: 25px;
}

.contact p{
    text-align: center;
    margin: 25px;
}

.contact h3{
    font-size: 30px;
    color: #ffffff;
    padding: 30px;
}

.contacts_inputs{
   margin: 20px;
   
}

.text{
    padding-top: 20px
}

.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited{
    color: white;   
}

.menu li a:hover{
    color: #11d6c5; 
}

.menu li a:active{
    transform: scale(1.1);
}

.title_container input{
    transition: all 0,2s;
    transform: scale(1);
}

.title_container input:hover{
    background: #344051;
    color: white;
}

.title_container input:active{
    transform: scale(1.1);
}

@keyframes comming{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -60px;
    }
    
    to{
        opacity: 1;
        margin-top: 0px;
    }
}


.menu li:nth-child(2){
    animation-delay: 0.4s;
}

.menu li:nth-child(3){
    animation-delay: 0.8s;
}

.menu li:nth-child(4){
    animation-delay: 1.2s;
}

.menu li:nth-child(5){
    animation-delay: 1.6s;
}

.menu li:nth-child(6){
    animation-delay: 2s;
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    
    to{
        opacity: 1;
        margin-left: 404px;
    }
}

@keyframes backinleft{
    from{
        opacity: 0;
        margin-left: -600px;
    }
    
    to{
        opacity: 1;
        margin-left: 0 auto;
    }
    
}

